@media (min-width: 1400px) {

    /* =========menu part start ========= */
    #main_menu .toggler_icon i {
        font-size: 20px;
        color: #d50a51;
    }

    #main_menu ul li img {
        width: 45px;
    }

    #main_menu .navbar-brand {
        padding-top: 0;
    }

    .navbar-toggler-icon {
        display: flex;
        align-items: center;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    #main_menu ul li:hover img {
        bottom: -9px;
    }

    #main_menu ul li img {
        bottom: -9px;
    }

    #main_menu ul li a {
        margin: 2px 0;
    }

    #main_menu .button a {
        font-size: 14px;
        padding: 14px 17px;
    }

    /* =========menu part end ========= */

    /* =======banner part start ===== */
    #banner_part h1 {
        font-size: 45px;
        margin-top: 31px;
    }

    #banner_part h2 {
        font-size: 57px;
        line-height: .7;
    }

    #banner_part p {
        margin-bottom: 33px;
    }

    #banner_part a {
        font-size: 20px;
        padding: 14px 21px;
        /*! margin-bottom: 40px; */
    }

    /* =======banner part end ===== */
    /* ==========history part start ========= */
    #history_part {
        padding: 80px 0;
    }

    #history_part img {
        width: 100%;
        margin-top: 27px;
    }

    #history_part .item_2 .heading img {
        bottom: 10px;
        width: 95px;
    }

    #history_part .item_2 .heading {
        margin-bottom: 26px;
    }

    #history_part .item_2 p span {
        margin-top: 20px;
    }

    /* ==========history part end ========= */
    /* =====gift part start ===== */
    #gift_part {
        padding-top: 80px;
        padding-bottom: 60px;
    }

    #gift_part .item_1 .heading img {
        bottom: 10px;
        width: 95px;
    }

    #gift_part .item_1 .heading {
        margin-bottom: 30px;
    }

    #gift_part .item_2 img {
        position: absolute;
        left: -129px;
        bottom: -67px;
        width: 500px;
    }

    #gift_part .item_1 p span {
        margin-top: 23px;
    }

    #gift_part .item_1 .button a {
        font-size: 18px;
        padding: 13px 19px;
        margin-right: 16px;
    }

    /* =====gift part end ===== */
    /* ======ticket part start ==== */
    #ticket_part {
        padding: 80px 0;
    }

    #ticket_part .item_2 .heading h1 {
        font-size: 20px;
    }

    #ticket_part .item_2 .heading h2 {
        font-size: 30px;
    }

    #ticket_part .item_2 .heading img {
        bottom: 10px;
        width: 95px;
    }

    #ticket_part .item_2 .heading {
        margin-bottom: 27px;
    }

    #ticket_part .item_2 p span {
        margin-top: 20px;
    }

    #ticket_part .item_2 .button a {
        font-size: 19px;
        padding: 13px 20px;
        margin-right: 16px;
    }

    #ticket_part .item_1 img {
        margin-top: 30px;
    }

    /* ======ticket part end ==== */
    /* ===service part start ===== */
    #Service_part {
        padding: 55px 0;
    }

    #Service_part .item_1 .heading h1 {
        font-size: 22px;
    }

    #Service_part .item_1 .heading h2 {
        font-size: 30px;
    }

    #Service_part .item_1 .heading img {
        bottom: 10px;
        width: 95px;
    }

    #Service_part .item_1 .heading {
        margin-bottom: 30px;
    }

    #Service_part .item_1 p span {
        margin-top: 25px;
    }

    #Service_part .main {
        margin: 20px 0;
    }

    /* ===service part end ===== */
    /* =======gallery part start ====== */
    #gallery_part {
        padding: 60px 0;
    }

    #gallery_part .item_3 .heading img {
        bottom: 10px;
        width: 95px;
    }

    #gallery_part .item_3 .heading {
        margin-bottom: 30px;
    }

    #gallery_part .item_3 p span {
        margin-top: 22px;
    }

    #gallery_part .item_3 .button a {
        font-size: 17px;
        margin-right: 9px;
        margin-bottom: 20px;
    }

    #gallery_part .item:last-child {
        margin-bottom: 30px !important;
    }

    #gallery_part .overlay .icon {
        height: 30px;
        width: 30px;
    }

    #gallery_part .overlay .icon i {
        font-size: 16px;
    }

    #gallery_part .overlay .icon_main {
        gap: 5px;
        margin-top: 10px;
    }

    #gallery_part .overlay h4 {
        font-size: 17px;
        margin-top: 65px;
    }

    #gallery_part .overlay .bottom a {
        margin: 0 3px;
    }

    /* =======gallery part end ====== */
    /* =====counter down part start ====== */
    #counterDown_part .item {
        margin: 17px 0;
    }

    /* =====counter down part end ====== */
    /* ======team part start ====== */
    #team_part .team_slider .item {
        padding: 30px 34px;
    }

    #team_part .team_slider .bottom .img {
        height: 80px;
        width: 80px;
    }

    #team_part .team_slider .bottom h3 {
        margin-bottom: 0px;
    }

    #team_part .team_slider .bottom h4 {
        font-size: 16px;
    }

    #team_part .main .loveIcon_2 {
        top: -39px;
        left: -23px;
    }

    #team_part .main .loveIcon_1 {
        bottom: -37px;
        right: -23px;
    }

    #team_part .main .loveIcon_1 img {
        width: 67px;
    }

    #team_part .main .loveIcon_2 img {
        width: 67px;
    }

    /* ======team part end ====== */
    /* =====footer part start ===== */
    #footer_part .footer_top .text h2 {
        font-size: 21px;
    }

    #footer_part .footer_top .main .icon i {
        font-size: 40px;
        margin-left: 10px;
    }

    #footer_part .footer_top {
        border-radius: 40px;
    }

    #footer_part .footer_top .text h3 {
        margin-top: 3px;
    }

    #footer_part .footer_top .item_2 input {
        width: auto;
    }

    #footer_part .footer_top .item_3 input {
        width: 100%;
        color: white;
    }

    #footer_part .footer_top .item_3 .icon {
        margin-right: 10px;
    }

    #footer_part .footer_middle .icon {
        height: 35px;
        width: 35px;
    }

    #footer_part .footer_middle {
        margin: 10px 0;
    }

    /* =====footer part end ===== */
}

@media (min-width: 1200px) and (max-width: 1399.98px) {

    /* =========menu part start ========= */
    #main_menu .toggler_icon i {
        font-size: 20px;
        color: #d50a51;
    }

    #main_menu ul li img {
        width: 45px;
    }

    #main_menu .navbar-brand {
        padding-top: 0;
    }

    .navbar-toggler-icon {
        display: flex;
        align-items: center;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    #main_menu ul li:hover img {
        bottom: -9px;
    }

    #main_menu ul li img {
        bottom: -9px;
    }

    #main_menu ul li a {
        margin: 2px 0;
    }

    #main_menu .button a {
        font-size: 14px;
        padding: 14px 17px;
    }

    /* =========menu part end ========= */

    /* =======banner part start ===== */
    #banner_part h1 {
        font-size: 45px;
        margin-top: 31px;
    }

    #banner_part h2 {
        font-size: 57px;
        line-height: .7;
    }

    #banner_part p {
        margin-bottom: 33px;
    }

    #banner_part a {
        font-size: 20px;
        padding: 14px 21px;
        /*! margin-bottom: 40px; */
    }

    /* =======banner part end ===== */
    /* ==========history part start ========= */
    #history_part {
        padding: 80px 0;
    }

    #history_part img {
        width: 100%;
        margin-top: 27px;
    }

    #history_part .item_2 .heading img {
        bottom: 10px;
        width: 95px;
    }

    #history_part .item_2 .heading {
        margin-bottom: 26px;
    }

    #history_part .item_2 p span {
        margin-top: 20px;
    }

    /* ==========history part end ========= */
    /* =====gift part start ===== */
    #gift_part {
        padding-top: 80px;
        padding-bottom: 60px;
    }

    #gift_part .item_1 .heading img {
        bottom: 10px;
        width: 95px;
    }

    #gift_part .item_1 .heading {
        margin-bottom: 30px;
    }

    #gift_part .item_2 img {
        position: absolute;
        left: -129px;
        bottom: -67px;
        width: 500px;
    }

    #gift_part .item_1 p span {
        margin-top: 23px;
    }

    #gift_part .item_1 .button a {
        font-size: 18px;
        padding: 13px 19px;
        margin-right: 16px;
    }

    /* =====gift part end ===== */
    /* ======ticket part start ==== */
    #ticket_part {
        padding: 80px 0;
    }

    #ticket_part .item_2 .heading h1 {
        font-size: 20px;
    }

    #ticket_part .item_2 .heading h2 {
        font-size: 30px;
    }

    #ticket_part .item_2 .heading img {
        bottom: 10px;
        width: 95px;
    }

    #ticket_part .item_2 .heading {
        margin-bottom: 27px;
    }

    #ticket_part .item_2 p span {
        margin-top: 20px;
    }

    #ticket_part .item_2 .button a {
        font-size: 19px;
        padding: 13px 20px;
        margin-right: 16px;
    }

    #ticket_part .item_1 img {
        margin-top: 30px;
    }

    /* ======ticket part end ==== */
    /* ===service part start ===== */
    #Service_part {
        padding: 55px 0;
    }

    #Service_part .item_1 .heading h1 {
        font-size: 22px;
    }

    #Service_part .item_1 .heading h2 {
        font-size: 30px;
    }

    #Service_part .item_1 .heading img {
        bottom: 10px;
        width: 95px;
    }

    #Service_part .item_1 .heading {
        margin-bottom: 30px;
    }

    #Service_part .item_1 p span {
        margin-top: 25px;
    }

    #Service_part .main {
        margin: 20px 0;
    }

    /* ===service part end ===== */
    /* =======gallery part start ====== */
    #gallery_part {
        padding: 60px 0;
    }

    #gallery_part .item_3 .heading img {
        bottom: 10px;
        width: 95px;
    }

    #gallery_part .item_3 .heading {
        margin-bottom: 30px;
    }

    #gallery_part .item_3 p span {
        margin-top: 22px;
    }

    #gallery_part .item_3 .button a {
        font-size: 17px;
        margin-right: 9px;
        margin-bottom: 20px;
    }

    #gallery_part .item:last-child {
        margin-bottom: 30px !important;
    }

    #gallery_part .overlay .icon {
        height: 30px;
        width: 30px;
    }

    #gallery_part .overlay .icon i {
        font-size: 16px;
    }

    #gallery_part .overlay .icon_main {
        gap: 5px;
        margin-top: 10px;
    }

    #gallery_part .overlay h4 {
        font-size: 17px;
        margin-top: 65px;
    }

    #gallery_part .overlay .bottom a {
        margin: 0 3px;
    }

    /* =======gallery part end ====== */
    /* =====counter down part start ====== */
    #counterDown_part .item {
        margin: 17px 0;
    }

    /* =====counter down part end ====== */
    /* ======team part start ====== */
    #team_part .team_slider .item {
        padding: 30px 34px;
    }

    #team_part .team_slider .bottom .img {
        height: 80px;
        width: 80px;
    }

    #team_part .team_slider .bottom h3 {
        margin-bottom: 0px;
    }

    #team_part .team_slider .bottom h4 {
        font-size: 16px;
    }

    #team_part .main .loveIcon_2 {
        top: -39px;
        left: -23px;
    }

    #team_part .main .loveIcon_1 {
        bottom: -37px;
        right: -23px;
    }

    #team_part .main .loveIcon_1 img {
        width: 67px;
    }

    #team_part .main .loveIcon_2 img {
        width: 67px;
    }

    /* ======team part end ====== */
    /* =====footer part start ===== */
    #footer_part .footer_top .text h2 {
        font-size: 21px;
    }

    #footer_part .footer_top .main .icon i {
        font-size: 40px;
        margin-left: 10px;
    }

    #footer_part .footer_top {
        border-radius: 40px;
    }

    #footer_part .footer_top .text h3 {
        margin-top: 3px;
    }

    #footer_part .footer_top .item_2 input {
        width: auto;
    }

    #footer_part .footer_top .item_3 input {
        width: 100%;
        color: white;
    }

    #footer_part .footer_top .item_3 .icon {
        margin-right: 10px;
    }

    #footer_part .footer_middle .icon {
        height: 40px;
        width: 40px;
    }

    #footer_part .footer_middle {
        margin: 10px 0;
    }

    /* =====footer part end ===== */
}

@media (min-width: 992px) and (max-width: 1199.98px) {

    /* =========menu part start ========= */
    #main_menu .toggler_icon i {
        font-size: 20px;
        color: #d50a51;
    }

    #main_menu ul li img {
        width: 45px;
    }

    #main_menu .navbar-brand {
        padding-top: 0;
    }

    .navbar-toggler-icon {
        display: flex;
        align-items: center;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    #main_menu ul li:hover img {
        bottom: -9px;
    }

    #main_menu ul li img {
        bottom: -9px;
    }

    #main_menu ul li a {
        margin: 2px 0;
    }

    #main_menu .button a {
        font-size: 14px;
        padding: 12px 12px;
    }

    /* =========menu part end ========= */

    /* =======banner part start ===== */
    #banner_part h1 {
        font-size: 39px;
        margin-top: 20px;
    }

    #banner_part h2 {
        font-size: 50px;
        line-height: .7;
    }

    #banner_part p {
        margin-bottom: 33px;
    }

    #banner_part a {
        font-size: 17px;
        padding: 12px 12px;
        /*! margin-bottom: 40px; */
    }

    /* =======banner part end ===== */
    /* ==========history part start ========= */
    #history_part {
        padding: 80px 0;
    }

    #history_part img {
        width: 100%;
        margin-top: 27px;
    }

    #history_part .item_2 .heading h1 {
        font-size: 22px;
        margin-top: 0px;
    }

    #history_part .item_2 .heading h2 {
        font-size: 30px;
    }

    #history_part .item_2 .heading img {
        bottom: 10px;
        width: 85px;
    }

    #history_part .item_2 .heading {
        margin-bottom: 26px;
    }

    #history_part .item_2 p span {
        margin-top: 20px;
    }

    /* ==========history part end ========= */
    /* =====gift part start ===== */
    #gift_part {
        padding-top: 80px;
        padding-bottom: 60px;
    }

    #gift_part .item_1 .heading h1 {
        font-size: 23px;
    }

    #gift_part .item_1 .heading h2 {
        font-size: 29px;
    }

    #gift_part .item_1 .heading img {
        bottom: 10px;
        width: 86px;
    }

    #gift_part .item_1 .heading {
        margin-bottom: 30px;
    }

    #gift_part .item_2 img {
        position: absolute;
        left: -129px;
        bottom: -67px;
        width: 500px;
    }

    #gift_part .item_1 p span {
        margin-top: 23px;
    }

    #gift_part .item_1 .button a {
        font-size: 18px;
        padding: 12px 12px;
        margin-right: 9px;
    }

    /* =====gift part end ===== */
    /* ======ticket part start ==== */
    #ticket_part {
        padding: 80px 0;
    }

    #ticket_part .item_2 .heading h1 {
        font-size: 20px;
    }

    #ticket_part .item_2 .heading h2 {
        font-size: 30px;
    }

    #ticket_part .item_2 .heading img {
        bottom: 10px;
        width: 85px;
    }

    #ticket_part .item_2 .heading {
        margin-bottom: 27px;
    }

    #ticket_part .item_2 p span {
        margin-top: 20px;
    }

    #ticket_part .item_2 .button a {
        font-size: 18px;
        padding: 12px 12px;
        margin-right: 10px;
    }

    #ticket_part .item_1 img {
        margin-top: 30px;
    }

    /* ======ticket part end ==== */
    /* ===service part start ===== */
    #Service_part {
        padding: 55px 0;
    }

    #Service_part .item_1 .heading h1 {
        font-size: 22px;
    }

    #Service_part .item_1 .heading h2 {
        font-size: 30px;
    }

    #Service_part .item_1 .heading img {
        bottom: 10px;
        width: 85px;
    }

    #Service_part .item_1 .heading {
        margin-bottom: 30px;
    }

    #Service_part .item_1 p span {
        margin-top: 25px;
    }

    #Service_part .main {
        margin: 20px 0;
    }

    /* ===service part end ===== */
    /* =======gallery part start ====== */
    #gallery_part {
        padding: 60px 0;
    }

    #gallery_part .item_3 .heading h1 {
        font-size: 22px;
    }

    #gallery_part .item_3 .heading h2 {
        font-size: 28px;
    }

    #gallery_part .item_3 .heading img {
        bottom: 10px;
        width: 85px;
    }

    #gallery_part .item_3 .heading {
        margin-bottom: 30px;
    }

    #gallery_part .item_3 p span {
        margin-top: 22px;
    }

    #gallery_part .item_3 .button a {
        font-size: 17px;
        margin-right: 9px;
        margin-bottom: 20px;
    }

    #gallery_part .item:last-child {
        margin-bottom: 30px !important;
    }

    #gallery_part .overlay .icon {
        height: 30px;
        width: 30px;
    }

    #gallery_part .overlay .icon i {
        font-size: 16px;
    }

    #gallery_part .overlay .icon_main {
        gap: 5px;
        margin-top: 10px;
    }

    #gallery_part .overlay h4 {
        font-size: 17px;
        margin-top: 65px;
    }

    #gallery_part .overlay .bottom a {
        margin: 0 3px;
    }

    /* =======gallery part end ====== */
    /* =====counter down part start ====== */
    #counterDown_part .item {
        margin: 17px 0;
    }

    /* =====counter down part end ====== */
    /* ======team part start ====== */
    #team_part .team_slider .item {
        padding: 26px 30px;
    }

    #team_part .team_slider .bottom .img {
        height: 80px;
        width: 80px;
    }

    #team_part .team_slider .bottom h3 {
        margin-bottom: 0px;
    }

    #team_part .team_slider .bottom h4 {
        font-size: 16px;
    }

    #team_part .main .loveIcon_2 {
        top: -39px;
        left: -23px;
    }

    #team_part .main .loveIcon_1 {
        bottom: -37px;
        right: -23px;
    }

    #team_part .main .loveIcon_1 img {
        width: 67px;
    }

    #team_part .main .loveIcon_2 img {
        width: 67px;
    }

    /* ======team part end ====== */
    /* =====footer part start ===== */
    #footer_part .footer_top .text h2 {
        font-size: 21px;
    }

    #footer_part .footer_top .main .icon i {
        font-size: 33px;
        margin-left: 5px;
    }

    #footer_part .footer_top {
        border-radius: 40px;
    }

    #footer_part .footer_top .text h3 {
        margin-top: 3px;
    }

    #footer_part .footer_top .item_2 input {
        width: auto;
    }

    #footer_part .footer_top .item_3 input {
        width: 100%;
        color: white;
    }

    #footer_part .footer_top .item_3 .icon {
        margin-right: 10px;
    }

    #footer_part .img {
        width: 100px;
    }

    #footer_part .footer_middle .icon {
        height: 35px;
        width: 35px;
    }

    #footer_part .footer_middle {
        margin: 10px 0;
    }

    /* =====footer part end ===== */
}

@media (min-width: 768px) and (max-width: 991.98px) {

    /* =========menu part start ========= */
    #main_menu .toggler_icon i {
        font-size: 20px;
        color: #d50a51;
    }

    #main_menu ul li img {
        width: 45px;
    }

    #main_menu img {
        width: 110px;
    }

    #main_menu .navbar-brand {
        padding-top: 0;
    }

    .navbar-toggler-icon {
        display: flex;
        align-items: center;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    #main_menu ul li:hover img {
        bottom: -9px;
    }

    #main_menu ul li img {
        bottom: -9px;
    }

    #main_menu ul li a {
        margin: 2px 0;
    }

    #main_menu .button a {
        font-size: 14px;
        padding: 10px 7px;
        margin-left: 50%;
        margin-top: 16px;
    }

    /* =========menu part end ========= */

    /* =======banner part start ===== */
    #banner_part h1 {
        font-size: 39px;
        margin-top: 20px;
    }

    #banner_part h2 {
        font-size: 50px;
        line-height: .7;
    }

    #banner_part p {
        margin-bottom: 33px;
    }

    #banner_part a {
        font-size: 15px;
        padding: 10px 10px;
        margin-bottom: 40px;
    }

    /* =======banner part end ===== */
    /* ==========history part start ========= */
    #history_part {
        padding: 59px 0;
    }

    #history_part img {
        width: 100%;
        margin-top: 27px;
    }

    #history_part .item_2 .heading h1 {
        font-size: 20px;
        margin-top: 0px;
    }

    #history_part .item_2 .heading h2 {
        font-size: 26px;
    }

    #history_part .item_2 .heading img {
        bottom: 10px;
        width: 80px;
    }

    #history_part .item_2 .heading {
        margin-bottom: 26px;
    }

    #history_part .item_2 p span {
        margin-top: 20px;
    }

    /* ==========history part end ========= */
    /* =====gift part start ===== */
    #gift_part {
        padding-top: 60px;
        padding-bottom: 30px;
    }

    #gift_part .item_1 .heading h1 {
        font-size: 20px;
    }

    #gift_part .item_1 .heading h2 {
        font-size: 26px;
    }

    #gift_part .item_1 .heading img {
        bottom: 10px;
        width: 82px;
    }

    #gift_part .item_1 .heading {
        margin-bottom: 30px;
    }

    #gift_part .item_2 img {
        position: absolute;
        left: -129px;
        bottom: -67px;
        width: 500px;
    }

    #gift_part .item_1 p span {
        margin-top: 23px;
    }

    #gift_part .item_1 .button a {
        font-size: 15px;
        padding: 10px 10px;
        margin-right: 9px;
    }

    /* =====gift part end ===== */
    /* ======ticket part start ==== */
    #ticket_part {
        padding: 60px 0;
    }

    #ticket_part .item_2 .heading h1 {
        font-size: 20px;
    }

    #ticket_part .item_2 .heading h2 {
        font-size: 26px;
    }

    #ticket_part .item_2 .heading img {
        bottom: 10px;
        width: 80px;
    }

    #ticket_part .item_2 .heading {
        margin-bottom: 27px;
    }

    #ticket_part .item_2 p span {
        margin-top: 20px;
    }

    #ticket_part .item_2 .button a {
        font-size: 16px;
        padding: 10px 10px;
        margin-right: 10px;
    }

    #ticket_part .item_1 img {
        margin-top: 30px;
    }

    /* ======ticket part end ==== */
    /* ===service part start ===== */
    #Service_part {
        padding: 30px 0;
    }

    #Service_part .item_1 .heading h1 {
        font-size: 20px;
    }

    #Service_part .item_1 .heading h2 {
        font-size: 26px;
    }

    #Service_part .item_1 .heading img {
        bottom: 10px;
        width: 80px;
    }

    #Service_part .item_1 .heading {
        margin-bottom: 30px;
    }

    #Service_part .item_1 p span {
        margin-top: 25px;
    }

    #Service_part .main {
        margin: 20px 0;
    }

    /* ===service part end ===== */
    /* =======gallery part start ====== */
    #gallery_part {
        padding: 60px 0;
    }

    #gallery_part .item_3 .heading h1 {
        font-size: 20px;
    }

    #gallery_part .item_3 .heading h2 {
        font-size: 24px;
    }

    #gallery_part .item_3 .heading img {
        bottom: 10px;
        width: 80px;
    }

    #gallery_part .item_3 .heading {
        margin-bottom: 30px;
    }

    #gallery_part .item_3 p span {
        margin-top: 22px;
    }

    #gallery_part .item_3 .button a {
        font-size: 16px;
        margin-right: 9px;
        margin-bottom: 20px;
    }

    #gallery_part .item:last-child {
        margin-bottom: 30px !important;
    }

    #gallery_part .overlay .icon {
        height: 30px;
        width: 30px;
    }

    #gallery_part .overlay .icon i {
        font-size: 16px;
    }

    #gallery_part .overlay .icon_main {
        gap: 5px;
        margin-top: 10px;
    }

    #gallery_part .overlay h4 {
        font-size: 17px;
        margin-top: 18px;
    }

    #gallery_part .overlay .bottom a {
        margin: 0 3px;
    }

    /* =======gallery part end ====== */
    /* =====counter down part start ====== */
    #counterDown_part .item {
        margin: 17px 0;
    }

    /* =====counter down part end ====== */
    /* ======team part start ====== */
    #team_part .team_slider .item {
        padding: 20px 10px;
    }

    #team_part .team_slider .bottom .img {
        height: 80px;
        width: 80px;
    }

    #team_part .team_slider .bottom h3 {
        margin-bottom: 0px;
    }

    #team_part .team_slider .bottom h4 {
        font-size: 16px;
    }

    #team_part .main .loveIcon_2 {
        top: -26px;
        left: -12px;
    }

    #team_part .main .loveIcon_1 {
        bottom: -26px;
        right: -12px;
    }

    #team_part .main .loveIcon_1 img {
        width: 50px;
    }

    #team_part .main .loveIcon_2 img {
        width: 50px;
    }

    #team_part .team_slider .nextarrow {
        height: 30px;
        width: 30px;
        top: 110%;
        right: 38%;
        font-size: 20px;
    }

    #team_part .team_slider .prevarrow {
        height: 30px;
        width: 30px;
        top: 110%;
        left: 38%;
        font-size: 20px;
    }

    /* ======team part end ====== */
    /* =====footer part start ===== */
    #footer_part .footer_top .text h2 {
        font-size: 21px;
    }

    #footer_part .footer_top .main .icon i {
        font-size: 33px;
        margin-left: 5px;
    }

    #footer_part .footer_top .text h3 {
        margin-top: 3px;
    }

    #footer_part .footer_top .item_2 input {
        margin-left: 25px;
        width: auto;
        margin-top: 8px;
    }

    #footer_part .img {
        margin-top: 87px;
        margin-bottom: 47px;
        width: 100px;
    }

    #footer_part .img img {
        width: 100px;
    }

    #footer_part .footer_middle .icon {
        height: 35px;
        width: 35px;
    }

    #footer_part .footer_middle .icon i {
        font-size: 18px;
    }

    #footer_part .footer_middle {
        margin: 10px 0;
    }

    #footer_part .footer_bottom .icon {
        height: 30px;
        width: 30px;
    }

    #footer_part .footer_bottom .icon i {
        font-size: 18px;
    }

    /* =====footer part end ===== */
}

@media (min-width: 576px) and (max-width: 767.98px) {

    /* =========menu part start ========= */
    #main_menu .toggler_icon i {
        font-size: 20px;
        color: #d50a51;
    }

    #main_menu ul li img {
        width: 45px;
    }

    #main_menu img {
        width: 110px;
    }

    #main_menu .navbar-brand {
        padding-top: 0;
    }

    .navbar-toggler-icon {
        display: flex;
        align-items: center;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    #main_menu ul li:hover img {
        bottom: -9px;
    }

    #main_menu ul li img {
        bottom: -9px;
    }

    #main_menu ul li a {
        margin: 2px 0;
    }

    #main_menu .button a {
        font-size: 14px;
        padding: 10px 7px;
        margin-left: 50%;
        margin-top: 16px;
    }

    /* =========menu part end ========= */

    /* =======banner part start ===== */
    #banner_part h1 {
        font-size: 39px;
        margin-top: 20px;
    }

    #banner_part h2 {
        font-size: 50px;
        line-height: .7;
    }

    #banner_part p {
        margin-bottom: 33px;
    }

    #banner_part a {
        font-size: 15px;
        padding: 10px 10px;
        margin-bottom: 40px;
    }

    /* =======banner part end ===== */
    /* ==========history part start ========= */
    #history_part {
        padding: 59px 0;
    }

    #history_part img {
        width: 100%;
        margin-top: 27px;
    }

    #history_part .item_2 .heading h1 {
        font-size: 20px;
        margin-top: 0px;
    }

    #history_part .item_2 .heading h2 {
        font-size: 26px;
    }

    #history_part .item_2 .heading img {
        bottom: 10px;
        width: 80px;
    }

    #history_part .item_2 .heading {
        margin-bottom: 26px;
    }

    #history_part .item_2 p span {
        margin-top: 20px;
    }

    /* ==========history part end ========= */
    /* =====gift part start ===== */
    #gift_part {
        padding-top: 60px;
        padding-bottom: 30px;
    }

    #gift_part .item_1 .heading h1 {
        font-size: 20px;
    }

    #gift_part .item_1 .heading h2 {
        font-size: 26px;
    }

    #gift_part .item_1 .heading img {
        bottom: 10px;
        width: 82px;
    }

    #gift_part .item_1 .heading {
        margin-bottom: 30px;
    }

    #gift_part .item_1 p span {
        margin-top: 23px;
    }

    #gift_part .item_2 img {
        display: none;
    }

    #gift_part .item_1 .button a {
        font-size: 15px;
        padding: 10px 10px;
        margin-right: 9px;
    }

    /* =====gift part end ===== */
    /* ======ticket part start ==== */
    #ticket_part {
        padding: 60px 0;
    }

    #ticket_part .item_2 .heading h1 {
        font-size: 20px;
    }

    #ticket_part .item_2 .heading h2 {
        font-size: 26px;
    }

    #ticket_part .item_2 .heading img {
        bottom: 10px;
        width: 80px;
    }

    #ticket_part .item_2 .heading {
        margin-bottom: 27px;
    }

    #ticket_part .item_2 p span {
        margin-top: 20px;
    }

    #ticket_part .item_2 .button a {
        font-size: 16px;
        padding: 10px 10px;
        margin-right: 10px;
    }

    #ticket_part .item_1 img {
        margin-top: 30px;
    }

    /* ======ticket part end ==== */
    /* ===service part start ===== */
    #Service_part {
        padding: 30px 0;
    }

    #Service_part .item_1 .heading h1 {
        font-size: 20px;
    }

    #Service_part .item_1 .heading h2 {
        font-size: 26px;
    }

    #Service_part .item_1 .heading img {
        bottom: 10px;
        width: 80px;
    }

    #Service_part .item_1 .heading {
        margin-bottom: 30px;
    }

    #Service_part .item_1 p span {
        margin-top: 25px;
    }

    #Service_part .main {
        margin: 20px 0;
    }

    /* ===service part end ===== */
    /* =======gallery part start ====== */
    #gallery_part {
        padding: 60px 0;
    }

    #gallery_part .item_3 .heading h1 {
        font-size: 20px;
    }

    #gallery_part .item_3 .heading h2 {
        font-size: 24px;
    }

    #gallery_part .item_3 .heading img {
        bottom: 10px;
        width: 80px;
    }

    #gallery_part .item_3 .heading {
        margin-bottom: 30px;
    }

    #gallery_part .item_3 p span {
        margin-top: 22px;
    }

    #gallery_part .item_3 .button a {
        font-size: 16px;
        margin-right: 9px;
        margin-bottom: 20px;
    }

    #gallery_part .item:last-child {
        margin-bottom: 30px !important;
    }

    #gallery_part .overlay .icon {
        height: 30px;
        width: 30px;
    }

    #gallery_part .overlay .icon i {
        font-size: 16px;
    }

    #gallery_part .overlay .icon_main {
        gap: 5px;
        margin-top: 10px;
    }

    #gallery_part .overlay h4 {
        font-size: 17px;
        margin-top: 18px;
    }

    #gallery_part .overlay .bottom a {
        margin: 0 3px;
    }

    /* =======gallery part end ====== */
    /* =====counter down part start ====== */
    #counterDown_part .item {
        margin: 17px 0;
    }

    /* =====counter down part end ====== */
    /* ======team part start ====== */
    #team_part .team_slider .item {
        padding: 20px 10px;
    }

    #team_part .team_slider .bottom .img {
        height: 80px;
        width: 80px;
    }

    #team_part .team_slider .bottom h3 {
        margin-bottom: 0px;
    }

    #team_part .team_slider .bottom h4 {
        font-size: 16px;
    }

    #team_part .main .loveIcon_2 {
        top: -26px;
        left: -12px;
    }

    #team_part .main .loveIcon_1 {
        bottom: -26px;
        right: -12px;
    }

    #team_part .main .loveIcon_1 img {
        width: 50px;
    }

    #team_part .main .loveIcon_2 img {
        width: 50px;
    }

    #team_part .team_slider .nextarrow {
        height: 30px;
        width: 30px;
        top: 110%;
        right: 38%;
        font-size: 20px;
    }

    #team_part .team_slider .prevarrow {
        height: 30px;
        width: 30px;
        top: 110%;
        left: 38%;
        font-size: 20px;
    }

    /* ======team part end ====== */
    /* =====footer part start ===== */
    #footer_part .footer_top .text h2 {
        font-size: 21px;
    }

    #footer_part .footer_top .main .icon i {
        font-size: 33px;
        margin-left: 5px;
    }

    #footer_part .footer_top {
        border-radius: 40px;
    }

    #footer_part .footer_top .text h3 {
        margin-top: 3px;
    }

    #footer_part .footer_top .item_2 input {
        margin-left: 16px;
        width: auto;
        margin-top: 8px;
    }

    #footer_part .img {
        margin-top: 87px;
        margin-bottom: 47px;
        width: 100px;
    }

    #footer_part .img img {
        width: 100px;
    }

    #footer_part .footer_middle .icon {
        height: 35px;
        width: 35px;
    }

    #footer_part .footer_middle .icon i {
        font-size: 18px;
    }

    #footer_part .footer_middle {
        margin: 10px 0;
    }

    #footer_part .footer_bottom .icon {
        height: 30px;
        width: 30px;
    }

    #footer_part .footer_bottom .icon i {
        font-size: 18px;
    }

    /* =====footer part end ===== */
}

@media (max-width: 575.98px) {

    /* =========menu part start ========= */
    #main_menu .toggler_icon i {
        font-size: 20px;
        color: #d50a51;
    }

    #main_menu img {
        width: 110px;
    }

    #main_menu .navbar-brand {
        padding-top: 0;
    }

    #main_menu ul li img {
        width: 45px;
    }

    .navbar-toggler-icon {
        display: flex;
        align-items: center;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    #main_menu ul li:hover img {
        bottom: -9px;
    }

    #main_menu ul li img {
        bottom: -9px;
    }

    #main_menu ul li a {
        margin: 2px 0;
    }

    #main_menu .button a {
        font-size: 14px;
        padding: 10px 7px;
        margin-left: 50%;
        margin-top: 16px;
    }

    /* =========menu part end ========= */

    /* =======banner part start ===== */
    #banner_part h1 {
        font-size: 39px;
    }

    #banner_part h2 {
        font-size: 50px;
        line-height: .7;
    }

    #banner_part p {
        margin-bottom: 33px;
    }

    #banner_part a {
        font-size: 15px;
        padding: 10px 10px;
        margin-bottom: 40px;
    }

    /* =======banner part end ===== */
    /* ==========history part start ========= */
    #history_part {
        padding: 59px 0;
    }

    #history_part img {
        width: 100%;
        margin-top: 27px;
    }

    #history_part .item_2 .heading h1 {
        font-size: 20px;
        margin-top: 0px;
    }

    #history_part .item_2 .heading h2 {
        font-size: 26px;
    }

    #history_part .item_2 .heading img {
        bottom: 10px;
        width: 80px;
    }

    #history_part .item_2 .heading {
        margin-bottom: 26px;
    }

    #history_part .item_2 p span {
        margin-top: 20px;
    }

    /* ==========history part end ========= */
    /* =====gift part start ===== */
    #gift_part {
        padding-top: 60px;
        padding-bottom: 30px;
    }

    #gift_part .item_1 .heading h1 {
        font-size: 20px;
    }

    #gift_part .item_1 .heading h2 {
        font-size: 26px;
    }

    #gift_part .item_1 .heading img {
        bottom: 10px;
        width: 82px;
    }

    #gift_part .item_1 .heading {
        margin-bottom: 30px;
    }

    #gift_part .item_1 p span {
        margin-top: 23px;
    }

    #gift_part .item_2 img {
        display: none;
    }

    #gift_part .item_1 .button a {
        font-size: 15px;
        padding: 10px 10px;
        margin-right: 9px;
    }

    /* =====gift part end ===== */
    /* ======ticket part start ==== */
    #ticket_part {
        padding: 60px 0;
    }

    #ticket_part .item_2 .heading h1 {
        font-size: 20px;
    }

    #ticket_part .item_2 .heading h2 {
        font-size: 26px;
    }

    #ticket_part .item_2 .heading img {
        bottom: 10px;
        width: 80px;
    }

    #ticket_part .item_2 .heading {
        margin-bottom: 27px;
    }

    #ticket_part .item_2 p span {
        margin-top: 20px;
    }

    #ticket_part .item_2 .button a {
        font-size: 16px;
        padding: 10px 10px;
        margin-right: 10px;
    }

    #ticket_part .item_1 img {
        margin-top: 30px;
    }

    /* ======ticket part end ==== */
    /* ===service part start ===== */
    #Service_part {
        padding: 30px 0;
    }

    #Service_part .item_1 .heading h1 {
        font-size: 20px;
    }

    #Service_part .item_1 .heading h2 {
        font-size: 26px;
    }

    #Service_part .item_1 .heading img {
        bottom: 10px;
        width: 80px;
    }

    #Service_part .item_1 .heading {
        margin-bottom: 30px;
    }

    #Service_part .item_1 p span {
        margin-top: 25px;
    }

    #Service_part .main {
        margin: 20px 0;
    }

    /* ===service part end ===== */
    /* =======gallery part start ====== */
    #gallery_part {
        padding: 60px 0;
    }

    #gallery_part .item_3 .heading h1 {
        font-size: 20px;
    }

    #gallery_part .item_3 .heading h2 {
        font-size: 24px;
    }

    #gallery_part .item_3 .heading img {
        bottom: 10px;
        width: 80px;
    }

    #gallery_part .item_3 .heading {
        margin-bottom: 30px;
    }

    #gallery_part .item_3 p span {
        margin-top: 22px;
    }

    #gallery_part .item_3 .button a {
        font-size: 16px;
        margin-right: 9px;
        margin-bottom: 20px;
    }

    #gallery_part .item:last-child {
        margin-bottom: 30px !important;
    }

    /* =======gallery part end ====== */
    /* =====counter down part start ====== */
    #counterDown_part .item {
        margin: 17px 0;
    }

    /* =====counter down part end ====== */
    /* ======team part start ====== */
    #team_part .team_slider .item {
        padding: 20px 10px;
    }

    #team_part .team_slider .bottom .img {
        height: 80px;
        width: 80px;
    }

    #team_part .team_slider .bottom h3 {
        margin-bottom: 0px;
    }

    #team_part .team_slider .bottom h4 {
        font-size: 16px;
    }

    #team_part .main .loveIcon_2 {
        top: -26px;
        left: -12px;
    }

    #team_part .main .loveIcon_1 {
        bottom: -26px;
        right: -12px;
    }

    #team_part .main .loveIcon_1 img {
        width: 50px;
    }

    #team_part .main .loveIcon_2 img {
        width: 50px;
    }

    #team_part .team_slider .nextarrow {
        height: 30px;
        width: 30px;
        top: 110%;
        right: 38%;
        font-size: 20px;
    }

    #team_part .team_slider .prevarrow {
        height: 30px;
        width: 30px;
        top: 110%;
        left: 38%;
        font-size: 20px;
    }

    /* ======team part end ====== */
    /* =====footer part start ===== */
    #footer_part .footer_top .text h2 {
        font-size: 21px;
    }

    #footer_part .footer_top .main .icon i {
        font-size: 33px;
        margin-left: 5px;
    }

    #footer_part .footer_top .text h3 {
        margin-top: 3px;
    }

    #footer_part .footer_top .item_2 input {
        width: 92%;
        margin: 5px 5px;
    }

    #footer_part .footer_top .item_3 input {
        margin-left: 32px;
    }

    #footer_part .img {
        margin-top: 87px;
        margin-bottom: 47px;
        width: 100px;
    }

    #footer_part .img img {
        width: 100px;
    }

    #footer_part .footer_middle .icon {
        height: 35px;
        width: 35px;
    }

    #footer_part .footer_middle .icon i {
        font-size: 18px;
    }

    #footer_part .footer_middle {
        margin: 10px 0;
    }

    #footer_part .footer_bottom .icon {
        height: 30px;
        width: 30px;
    }

    #footer_part .footer_bottom .icon i {
        font-size: 18px;
    }

    /* =====footer part end ===== */
}